<div class="container">
  <div class="s-margin">
      <button
      class="btn btn-primary"
      (click)="onClickAddRow()">ADD ROW</button>
  </div>

  <app-users-table
    [users]="users"
    [showEdit]="showEditForm"
    [showRemove]="showRemoveForm"
    (userSelected)="userSelected = $event"
    (flagEdit)="showEditForm = $event"
    (flagRemove)="showRemoveForm =$event"
    ></app-users-table>

  <app-form-users
    *ngIf="showAddForm"
    type="add"
    [user]="userSelected"
    (cancel) = "showAddForm = $event"
    (onSubmit) = "onNewUser($event)"
  ></app-form-users>

  <app-form-users
    *ngIf="showEditForm"
    type ="edit"
    [user] = "userSelected"
    (cancel) = "showEditForm = onCancel($event)"
    (onSubmit) = "onEditUser($event)"
    ></app-form-users>

  <app-form-users
    *ngIf="showRemoveForm"
    type="remove"
    [user] = "userSelected"
    (cancel)="showRemoveForm = onCancel($event)"
    (onSubmit) = "onRemoveUser($event)"
  ></app-form-users>

</div>

